<header class="header">
    <a href="#test">
        {{> logo}}
    </a>
    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header }}
        </div>
    </nav>
</header>

<main class="main">
    <div class="info">
        <h1 class="info_title">{{info.title}}</h1>
        <p class="info_description">{{info.description}}</p>
    </div>

    {{#with form}}
    <form class="form">
        {{!-- <h2 class="form_title">{{title}}</h2> --}}
        <div class="form_input_list">
            {{#each inputs}}
            <input type="{{type}}" placeholder="{{placeholder}}" name="{{name}}" id="form-input-{{id}}"
                class="form_input">
            {{/each}}
        </div>
        <div class="form_checkbox">
            <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}">
            <div></div>
            <label for="{{checkbox.name}}">{{checkbox.label}}</label>
        </div>
        <button type="submit" class="form_button">{{button}}</button>
        <div class="form_border_line"></div>
        <p class="form_info">{{info}}</p>
    </form>
    {{/with}}
</main>

{{#with updates}}
<div class="upd">
    <h3 class="upd_title">{{title}}</h3>
    {{#each list}}
    <div class="upd_list">
        <img src="https://picsum.photos/200/200" alt="image 32x32" class="upd_image">
        <div class="upd_text">
            <div class="upd_nickname">@{{nickname}}</div>
            <p class="upd_description">{{description}}</p>
        </div>
    </div>
    {{/each}}
    <a href="{{show_all.url}}" class="upd_link">{{show_all.text}}</a>


</div>
{{/with}}

<div class="expirience">
    {{#with expirience}}
    <span class="exp_badge">{{badge}}</span>
    <h2 class="exp_title">{{title}}</h2>

    <div class="exp_list_block">
        {{#each list}}
        <div class="exp_list">
            <h3 class="exp_name">{{name}}</h3>
            <p class="exp_details">{{details}}</p>
        </div>
        {{/each}}
    </div>
    {{/with}}
</div>





<footer class="footer" id="test">
    <div>
        {{> logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>
    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
    </div>

    {{/each}}
</footer>